:where(html) {
    /* Dark and Neutral Colors */
        --color-black: #111111;
        --color-navy: #001F3F;
        --color-shadow: #2a2b36;
        --color-midnight-blue: #191970;
        --color-charcoal: #36454F;
        --color-shadow-dm: #424350;
        --color-umber: #635147;
        --color-gray: #AAAAAA;

    /* Light and Neutral Colors */
        --color-white: #FFFFFF;
        --color-light-white: #F5F5F5;
        --color-off-white: #E0E0E0;
        --color-soft-white: #CCCCCC;
        --color-pale-white: #B3B3B3;
        --color-muted-white: #999999;
        --color-silver: #DDDDDD;
        --color-periwinkle: #CCCCFF;
        --color-lavender: #E6E6FA;
        --color-lavender-blush: #FFF0F5;
        --color-wheat: #F5DEB3;
        --color-almond: #EFDECD;
        --color-cream: #FFFDD0;
        --color-melon: #FEBAAD;
        --color-pink: #FFC0CB;

    /* Purples and Pinks */
        --color-purple: #B10DC9;
        --color-rose: #FF007F;
        --color-fuchsia: #F012BE;
        --color-violet: #6e58b3;
        --color-indigo: #4B0082;

    /* Reds and Warm Colors */
        --color-berry: #8A2E67;
        --color-wine: #722F37;
        --color-maroon: #85144B;
        --color-red: #FF4136;
        --color-blush: #DE5D83;
        --color-red-error: #ff5e55;
        --color-salmon: #FA8072;
        --color-coral: #FF7F50;
        --color-orange: #FF851B;
        --color-caramel: #AF6E4D;
        --color-copper: #B87333;
        --color-bronze: #CD7F32;
        --color-yellow: #FFDC00;
        --color-amber: #FFBF00;
        --color-saffron: #F4C430;
        --color-gold: #FFD700;

    /* Greens and Teals */
        --color-green: #2ECC40;
        --color-olive: #3D9970;
        --color-forest-green: #228B22;
        --color-moss: #8A9A5B;
        --color-mint: #98FF98;
        --color-emerald: #50C878;
        --color-jade: #00A86B;
        --color-teal: #39CCCC;
        --color-dark-teal: #318178;
        --color-turq: #0fc5b0;
        --color-seafoam: #93E9BE;

    /* Blues and Cool Colors */
        --color-blue: #0074D9;
        --color-royal-blue: #4169E1;
        --color-steel-blue: #4682B4;
        --color-cerulean: #007BA7;
        --color-aqua: #7fdbff;
        --color-sky-blue: #87CEEB;
        --color-cadet-blue: #5F9EA0;

    /* Special and Other Colors */
        --color-shadow-stealthy: #6173856b;
        --color-chocolate: #D2691E;
        --color-slate-gray: #708090;

    /* Base colors */
        --color-primary: var(--color-blue);
        --color-secondary: var(--color-gray);
        --color-accent: var(--color-violet);
        --color-warning: var(--color-orange);
        --color-success: var(--color-turq);
        --color-error: var(--color-red-error);
        --color-disabled: var(--color-silver);

    /* Default theme colors [data-theme = 'basic'] */
        --bg-color: var(--color-white);
        --text-color: var(--color-black);
        --link-color: var(--color-blue);
        --link-selected: var(--color-violet);
        --heading-color: var(--color-navy);
        --btn-def-bg: var(--color-white);
        --btn-def-color: var(--color-black);
        --shadow-color: var(--color-shadow);

    /* mix primary */
        --color-primary-10: color-mix(in srgb, var(--color-primary), transparent 10%);
        --color-primary-20: color-mix(in srgb, var(--color-primary), transparent 20%);
        --color-primary-30: color-mix(in srgb, var(--color-primary), transparent 30%);
        --color-primary-40: color-mix(in srgb, var(--color-primary), transparent 40%);
        --color-primary-50: color-mix(in srgb, var(--color-primary), transparent 50%);
        --color-primary-60: color-mix(in srgb, var(--color-primary), transparent 60%);
        --color-primary-70: color-mix(in srgb, var(--color-primary), transparent 70%);
        --color-primary-80: color-mix(in srgb, var(--color-primary), transparent 80%);
        --color-primary-90: color-mix(in srgb, var(--color-primary), transparent 90%);

    /* mix secondary */
        --color-secondary-10: color-mix(in srgb, var(--color-secondary), transparent 10%);
        --color-secondary-20: color-mix(in srgb, var(--color-secondary), transparent 20%);
        --color-secondary-30: color-mix(in srgb, var(--color-secondary), transparent 30%);
        --color-secondary-40: color-mix(in srgb, var(--color-secondary), transparent 40%);
        --color-secondary-50: color-mix(in srgb, var(--color-secondary), transparent 50%);
        --color-secondary-60: color-mix(in srgb, var(--color-secondary), transparent 60%);
        --color-secondary-70: color-mix(in srgb, var(--color-secondary), transparent 70%);
        --color-secondary-80: color-mix(in srgb, var(--color-secondary), transparent 80%);
        --color-secondary-90: color-mix(in srgb, var(--color-secondary), transparent 90%);

    /* mix accent */
        --color-accent-10: color-mix(in srgb, var(--color-accent), transparent 10%);
        --color-accent-20: color-mix(in srgb, var(--color-accent), transparent 20%);
        --color-accent-30: color-mix(in srgb, var(--color-accent), transparent 30%);
        --color-accent-40: color-mix(in srgb, var(--color-accent), transparent 40%);
        --color-accent-50: color-mix(in srgb, var(--color-accent), transparent 50%);
        --color-accent-60: color-mix(in srgb, var(--color-accent), transparent 60%);
        --color-accent-70: color-mix(in srgb, var(--color-accent), transparent 70%);
        --color-accent-80: color-mix(in srgb, var(--color-accent), transparent 80%);
        --color-accent-90: color-mix(in srgb, var(--color-accent), transparent 90%);

    /* mix contrast */
        --color-contrast-10: color-mix(in srgb, var(--text-color) 90%, var(--bg-color) 10%);
        --color-contrast-20: color-mix(in srgb, var(--text-color) 80%, var(--bg-color) 20%);
        --color-contrast-30: color-mix(in srgb, var(--text-color) 70%, var(--bg-color) 30%);
        --color-contrast-40: color-mix(in srgb, var(--text-color) 60%, var(--bg-color) 40%);
        --color-contrast-50: color-mix(in srgb, var(--text-color) 50%, var(--bg-color) 50%);
        --color-contrast-60: color-mix(in srgb, var(--text-color) 40%, var(--bg-color) 60%);
        --color-contrast-70: color-mix(in srgb, var(--text-color) 30%, var(--bg-color) 70%);
        --color-contrast-80: color-mix(in srgb, var(--text-color) 20%, var(--bg-color) 80%);
        --color-contrast-90: color-mix(in srgb, var(--text-color) 10%, var(--bg-color) 90%);
    }
